// Variabel 
$darkGreen : rgb(142, 217, 116);
$lightGreen : rgb(76, 164, 86);
$darkGray : rgb(57,66,65);

// Breakpoint
// 640px, 1024px, 1400px 
$breakpoints-up : ("medium": "40em", "large" : "64em", "xlarge" : "87.5em");

//639px, 1023px, 1399px
$breakpoints-down : ("small": "39.9375‬em", "medium" : "63.9375em", "large" : "87.4375em");

@mixin breakpoint-up($size) {
    @media (min-width : map-get($breakpoints-up , $size )){
        @content;
    }
}

@mixin breakpoint-down($size) {
    @media (max-width : map-get($breakpoints-down , $size )){
        @content;
    }
}

// Global Setting
html {
    font-size: 100%;
}

*,*::before,*::after {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

h1,h2,h3,h4,h5 {
    margin: 0;
}

.container {
    max-width: 69.5625rem;
    margin: 0 auto;
    
    &-pt {
        padding-top: 0.9375rem;
        @include breakpoint-up(medium) {
            padding-top: 2.25rem;
        }
    }

    &-pb {
        padding-bottom: 0.9375rem;
        @include breakpoint-up(medium) {
            padding-bottom: 2.25rem;
        } 
    }

    &-pr {
        padding-left: 1.25rem;
        @include breakpoint-up(medium) {
            padding-right: 4.25rem;
        } 
    }

    &-pl {
        padding-right: 1.25rem;
        @include breakpoint-up(medium) {
            padding-left: 4.25rem;
        } 
    }

    &-px {
        padding-left: 1.25rem;
        padding-right: 1.25rem;

        @include breakpoint-up(medium) {
            padding-left: 4.25rem;
            padding-right: 4.25rem;
        }
    }

    &-py {
        padding-bottom: 0.9375rem;
        padding-top: 0.9375rem;

        @include breakpoint-up(medium) {
            padding-bottom: 2.25rem;
            padding-top: 2.25rem;
        }
    }

    &-pall {
        padding-bottom: 0.9375rem;
        padding-top: 0.9375rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;

        @include breakpoint-up(medium){
            padding-bottom: 2.25rem;
            padding-top: 2.25rem;
            padding-left: 4.25rem;
            padding-right: 4.25rem;
        }
    }
}

.for-desktop {
    @include breakpoint-down(medium){
        display: none;
    }
}

.for-mobile {
    @include breakpoint-up(large){
        display: none;
    }
}

// Header CSS
.header {
    &-content{
        padding-top: 16px;
        padding-bottom: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
            width: 150px;
        }

        .hamburger-icon {
            span {
                display: block;
                background: $lightGreen;
                width: 1.5em;
                height: 3px;

                &:not(:last-child){
                    margin-bottom: 5px;
                }
            }
        }
    }

    &-link {
        a {
            font-size: 14px;
            color: $darkGray;
            margin-right: 12px;
            transition: 0.2s ease-in-out;

            &:hover {
                font-weight: 700;
            }
        }

        .login {
            font-family: 'Poppins', sans-serif;
            cursor: pointer;
            color: $lightGreen;
            font-weight: 700;
            border: 2px solid $darkGreen;
            background-color: white;
            padding: 5px 20px;
            margin-left: 10px;
            font-size: 14px;
            transition: 0.2s ease-in-out;

            &:hover {
                background-color: $darkGreen;
                color: white;
            }
        }
    }
}

// Hero CSS
.hero {
    &-content {
        background-image: url(../../images/hero.jpg);
        width: 100%;
        height: 15.25rem;
        background-repeat: no-repeat;
        background-size: 130%;
        background-position: center top;

        @include breakpoint-up(medium) {
            height: 31.25rem;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }
    }
}

// Advantages CSS
.advantages {
    @include breakpoint-up(medium){
        display: flex;
        flex-wrap: wrap;
    }
    .advantage {
        margin-bottom: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
            width: 70px;
            height: 70px;
        }

        .text {
            margin-left: 20px;
            h3 {
                color: $darkGreen;
                font-size: 16px;
                margin-top: 20px;
            }

            p{
                font-size: 12px;
            }
        }

        &:nth-child(2), &:nth-child(4){
            flex-direction: row-reverse;
            margin-left: 0;
            margin-right: 20px ;
        }

        @include breakpoint-up(medium){
            flex: 0 0 47%;
            &:nth-child(2), &:nth-child(4){
                flex-direction: row;
                margin-right: 0;
                margin-left: 20px ;
            }
        }

        @include breakpoint-up(large) {
            display: inline;
            flex: 1;
            padding: 10px;

            &:nth-child(2), &:nth-child(4){
                flex-direction: row;
                margin: 0;
            }

            .text {
                margin: 0;
            }
        }
    }
}

// Awards CSS
.awards {
    background-color: $darkGray;

    h1{
        font-size: 34px;
        text-align: center;
        font-weight: 700;
        color: $lightGreen;
    }

    &-content {
        @include breakpoint-up(large){
            display: flex;
            flex: 1;
            justify-content: space-between;
            align-items: center;
        }
    }
    

    &-list {
        margin-top: 40px;
        text-align: center;
        color: $darkGreen;

        h3 {
            margin-top: 10px;
        }
        img {
            width: 100px;
            height: 100px;
        }

        @include breakpoint-up(large){
            margin-top: 0;
        }
    }
}

// Shop CSS
.shop {
    h1 {
        font-size: 34px;
        text-align: center;
        color: $lightGreen;
    }
    &-list {
        margin-top: 35px;

        @include breakpoint-up(medium) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .button {
            color: $lightGreen ;
            margin: 0 auto;
            text-align: center;
            width: 120px;
            height: fit-content;
            padding: 10px;
            background-color: $darkGray;
            display: block;
            transition: 0.2s ease-in-out;

            &:not(:last-child) {
                margin-bottom: 30px;
            }

            &:hover {
                &:nth-child(1) {
                    background-color: $lightGreen;
                    color: $darkGray;
                }

                &:nth-child(2) {
                    background-color: purple;
                    color: white;
                }

                &:nth-child(3) {
                    background-color: orangered;
                    color: white;
                }

                &:nth-child(4) {
                    background-color: darkblue;
                    color: white;
                }

                &:nth-child(5) {
                    background-color: lightblue;
                    color: $darkGray;
                }
            }

        }
    }
}

// Footer CSS 
.footer {
    a {
        transition: 0.2s ease-in-out;
        &:hover {
            color: $darkGray;
        }
    }
    background-color: $lightGreen;
    &-content {
        @include breakpoint-up(medium) {
            display: flex;
            justify-content: space-between;
            // align-items: center;
        }
    }
    &-place {
        img {
            width: 150px;
            margin-bottom: 15px;
        }

        .address {
            margin-top: 10px;
        }

        p {
            margin: 0;
            color: white;
            font-size: 12px;
        }

        .socmed {
            margin-top: 9px;
            height: fit-content;
            svg {
                width: 25px;
                height: 25px;
                margin-right: 5px;
            }

            svg path {
                fill: white;
                transition: 0.2s ease-in-out;

                &:hover {
                    fill: $darkGray;
                }
            }
        }
    }

    &-text {
        @include breakpoint-up(medium){
            display: flex;
            justify-content: space-between;
        }
    }

    &-product {
        @include breakpoint-up(medium) {
            margin-right: 50px;
        }
        margin-top: 20px;
        h3 {
            color: white;
            margin-bottom: 5px;
        }

        a {
            display: block;
            font-size: 14px;
            color: white;
        }
    }

    &-company {
        margin-top: 20px;
        h3 {
            color: white;
            margin-bottom: 5px;
        }

        a {
            display: block;
            font-size: 14px;
            color: white;
        }
    }
}

// Copyright CSS
.copyright {
    p {
        font-size: 12px;
        text-align: center;
    }
}

//Help CSS
.help {
    position: absolute;
    bottom: 35px;
    right: 20px;
    a {
        background-color: $darkGray;
        padding: 8px;
        display: block;
        border-radius: 5px;
        transition: 0.2s ease-in-out;

        &:hover {
            background-color: black;
        }
        
        &:first-child {
            margin-bottom: 10px;
        }

    }

    img {
        width: 20px;
    }
}
